{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-9">
        <!-- Page Title -->
        <h2>Driver Home</h2>
    </div>
    <div class="col-4">
        <!--Sidebar content-->
        <div class="row fixed">
            <nav class="nav flex-column">
                {% if vehicle.driver %}
                <form method="get" action="/ride/driverhome">
                    <button class="btn" type="submit">My Driver Page</button>
                </form>
                {% endif %}

                <form method="get" action="/ride/newride">
                    <button class="btn" type="submit">Request a Ride</button>
                </form>

                <form method="get" action="/ride/user_search_ride">
                    <button class="btn" type="submit">Search All Open Rides</button>
                </form>

                <form method="get" action="/ride/your_ride">
                    <button class="btn" type="submit">View All Your Rides</button>
                </form>

                <form method="get" action="/ride/belong_search">
                    <button class="btn" type="submit">Search All Your Rides</button>
                </form>

                {% if not vehicle.driver%}
                <form method="get" action="/ride/addvehicle">
                    <button class="btn btn-active" type="submit">Join as a Driver</button>
                </form>
                {% endif %}

            </nav>
        </div>
    </div>
    <div class="col-8">
        <!--Body content-->
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add your vehicle information</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock content%}