{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Driver: {{ user.name }}</h1>


<table border="1">
        <thead>
                <tr>
                        <th>Vehicle</th>
                        <th>Address</th>
                        <th>Owner</th>
                </tr>
        </thead>

        <tbody>
                <tr>
                        <td>{{vehicle.driver.username}}</td>
                        <td>{{vehicle.plate}}</td>
                        <td>{{vehicle.Vtype}}</td>
                </tr>
        </tbody>

</table>

{%endblock content%}