{% extends "ride/base.html" %}
{% block content %}
<h1>Welcome to our Ride & Share System</h1>
<h2>You great journey starting here!</h2>

<br>
<p class = "main">
  Please Login in first. Then you can see three choices on the menu, including "Start A Ride", "Find A Ride" and "Driver's Searching".
</p>

<form method=""get" action= "/login">
  <button type="submit">Login</button>
</form>

<form method=""get" action= "{% url 'userhome' %}"">
  <button type="submit">already log in? Go to your home page</button>
</form>
{% endblock content %}