{% extends 'ride/base.html' %}
{% block content %}

<br><br>

<table border = "1">
<!-- tr表示每一行， td表示每一个元素 -->
        <thead>
                <tr>
                        <!-- tr表示table row， 指一行 -->
                        <!-- th相当于是列表的头，告知这一列是什么元素 -->
                        <th>Date</th>
                        <th>Address</th>
                        <th>Owner</th>
                </tr>
        </thead>

        <tbody>
          {% for ride in data %}
                <tr>
                  <td>{{ ride.arrive_date }}</td>
                  <td>{{ ride.addr }}</td>
                  <td>{{ride.owner.username}}</td>

                  
                </tr>
          {% endfor %}
        </tbody>

</table>

{% endblock content %}