{% extends 'ride/base.html' %}
{% block content %}

<br><br>

<table border = "1">
        <thead>
                <tr>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Owner</th>
                </tr>
        </thead>

        <tbody>
          {% for ride in data %}
                <tr>
                  <td>{{ ride.arrive_date }}</td>
                  <td>{{ ride.addr }}</td>
                  <td>{{ride.owner.username}}</td>

                  
                </tr>
          {% endfor %}
        </tbody>

</table>

{% endblock content %}