{% extends 'ride/base.html' %}
{% block content %}

<br><br>

<table border = "1">
        <thead>
                <tr>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Owner</th>
                </tr>
        </thead>

        <tbody>
          {% for ride in data %}
                <tr>
                  <td>{{ ride.arrive_date }}</td>
                  <td>{{ ride.destination }}</td>
                  <td>{{ ride.owner.username }}</td>
                </tr>
          {% endfor %}
        </tbody>

</table>

<form method=""get" action= "/ride/userhome">
        <button type="submit">Back to main</button>
</form>
{% endblock content %}