{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row">
        <div class="span3 side-bar">
                <!--Sidebar content-->
                <div class="row fixed">
                        <nav class="nav flex-column">
                                <!--Body content-->
                                {% if vehicle.driver %}
                                <form method="get" action="/ride/driverhome">
                                        <button class="btn" type="submit">My Driver Page</button>
                                </form>
                                {% endif %}

                                <form method="get" action="/ride/edit_your_profile">
                                        <button class="btn" type="submit">Edit Your Personal Profile</button>
                                </form>

                                <form method="get" action="/ride/newride">
                                        <button class="btn" type="submit">Request a Ride</button>
                                </form>

                                {% if not vehicle.driver%}
                                <form method="get" action="/ride/addvehicle">
                                        <button class="btn" type="submit">Join as a Driver</button>
                                </form>
                                {% endif %}

                                <form method="get" action="/ride/user_search_ride">
                                        <button class="btn" type="submit">Search All the Open Rides</button>
                                </form>

                                <form method="get" action="/ride/your_ride">
                                        <button class="btn" type="submit">Check All Your Rides</button>
                                </form>

                                <form method="get" action="/ride/belong_search">
                                        <button class="btn" type="submit">Search among the ride you belong to</button>
                                </form>

                        </nav>
                </div>

        </div>
        <div class="span9">
                Personal info table
                <table border = "1">
                        <thead>
                                <tr>
                                        <th>Username</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                        <th>Are you a driver?</th>
                                </tr>
                        </thead>
                
                        <tbody>
                            <tr>
                                <td>{{user.username}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                {% if vehicle.driver %}

                                <td>Yes</td>
                                {% else %}
                                <td>No</td>
                                {% endif %}
                            </tr>
                        </tbody>
                
                </table>
        </div>
</div>




{%endblock content%}