{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username }}</h1>

    <p>The ride you own</p>
    <table border = "1">
                <thead>
                        <tr>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Destination</th>
                                <th>Arrival-Time</th>
                                <th>passenger-number</th>
                                <th>Driver</th>
                                <th>Status</th>
                                <th>Sharable?</th>
                                <th>sharers</th>
                                <th>Edit-Ride-Info</th>
                                <th>Complete-the-ride</th>

                        </tr>
                </thead>
        
                <tbody>
                    {% for ride in owner_ride %}
                    <tr>
                        <td>{{ride.id}}</td>
                        <td>{{ride.owner.username}}</td>
                        <td>{{ride.destination}}</td>
                        <td>{{ride.arrive_date}}</td>
                        <td>{{ride.passenger_num}}</td>
                        <td>{{ride.driver.username}}</td>
                        <td>{{ride.status}}</td>
                        <td>{{ride.sharable}}</td>
                        <td>{{ride.sharer}}</td>
                        {% if ride.status == 'open' %}
                                <td><form method="get" action= "{% url 'edit_ride' ride.id %}">
                                        <button type="submit">Edit</button>
                                </form>
                                </td>
                        {% else %} 
                                <td>No longer editable</td>
                        {% endif %}
                        <td><form method="get" action= "{% url 'complete_ride' ride.id %}">
                                <button type="submit">Complete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    <p>   </p>
    <p>The ride you share</p>
    <table border = "1">
        <!-- tr表示每一行， td表示每一个元素 -->
                <thead>
                        <tr>
                                <!-- tr表示table row， 指一行 -->
                                <!-- th相当于是列表的头，告知这一列是什么元素 -->
                                <th>Owner</th>
                                <th>Destination</th>
                                <th>Arrival Time</th>
                                <th>Driver</th>
                                <th>Status</th>
                        </tr>
                </thead>
        
                <tbody>
                    {% for ride in sharer_ride %}
                    <tr>
                        <td>{{ride.owner.username}}</td>
                        <td>{{ride.destination}}</td>
                        <td>{{ride.arrive_date}}</td>
                        <td>{{ride.driver.username}}</td>
                        <td>{{ride.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        
<form method=""get" action= "/ride/userhome">
        <button type="submit">Back to main</button>
</form>

{%endblock content%}